@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
  color: white;
  overflow: hidden;
}
h1 span {
  display: inline-block;
}
